<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
          <link rel="shortcut icon" href="https://static.wixstatic.com/media/8779b2_0f364337393243ceb1a80b26fea6b4e0~mv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/8779b2_0f364337393243ceb1a80b26fea6b4e0~mv2.png" type="image/png">
    <link rel="apple-touch-icon" href="https://static.wixstatic.com/media/8779b2_0f364337393243ceb1a80b26fea6b4e0~mv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/8779b2_0f364337393243ceb1a80b26fea6b4e0~mv2.png" type="image/png">
      <title>RDResoluções - Sua Solução está Aqui!</title>
  </head>
    <body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      <ul>
<li><a href="./Empresa">A Empresa</a>
<ul>
<li><a href="#boas-vindas">Boas Vindas!</a></li>
<li><a href="#quem-somos">Quem Somos</a></li>
<li><a href="#localização">Localização</a></li>
</ul>
</li>
<li><a href="#o-trabalho">O Trabalho</a>
<ul>
<li><a href="#clientes">Clientes</a></li>
<li><a href="#o-público-alvo">O Público-Alvo</a></li>
<li><a href="#ritmo-de-trabalho">Ritmo de Trabalho</a></li>
</ul>
</li>
<li><a href="#cargos-na-rd">Cargos na RD</a>
<ul>
<li><a href="#administração">Administração</a></li>
<li><a href="#marketing-e-publicidade">Marketing e Publicidade</a></li>
<li><a href="#produção-de-conteúdo">Produção de Conteúdo</a></li>
</ul>
</li>
<li><a href="#materiais-que-produzimos">Materiais que Produzimos</a>
<ul>
<li><a href="#resolução-online">Resolução Online</a></li>
<li><a href="#plano-de-aula">Plano de Aula</a></li>
<li><a href="#tópico-de-aula">Tópico de Aula</a></li>
<li><a href="#tópico-especial">Tópico Especial</a></li>
<li><a href="#a-checklist">A Checklist</a></li>
<li><a href="#questionário-base">Questionário Base</a></li>
</ul>
</li>
<li><a href="#solução-sbs-step-by-step">Solução SBS (Step by Step)</a>
<ul>
<li><a href="#a-plataforma">A Plataforma</a></li>
<li><a href="#o-essencial-na-toolbar">O Essencial na Toolbar:</a></li>
<li><a href="#estrutura-de-uma-resolução-online">Estrutura de uma Resolução Online</a></li>
<li><a href="#o-conversor-de-latex">O conversor de LaTeX</a></li>
<li><a href="#resolução-numérica--inserção-de-caracteres-matemáticos">Resolução numérica + Inserção de Caracteres Matemáticos</a></li>
<li><a href="#destaques-numérico-e-escrito-na-conclusão">Destaques Numérico e Escrito na Conclusão</a></li>
</ul>
</li>
<li><a href="#seções-do-qb">Seções do QB</a>
<ul>
<li><a href="#contextualização">Contextualização</a></li>
<li><a href="#desenvolvimento">Desenvolvimento</a></li>
<li><a href="#fechamento-resumos-e-exercícios">Fechamento, Resumos e Exercícios</a></li>
</ul>
</li>
<li><a href="#as-perguntas-do-qb">As Perguntas do QB</a>
<ul>
<li><a href="#referências">Referências</a></li>
<li><a href="#conceitos">Conceitos</a></li>
<li><a href="#introdução">Introdução</a></li>
<li><a href="#um-pouco-de-história">Um Pouco de História</a></li>
<li><a href="#regras-para-um-pouco-de-historia">Regras para “Um Pouco de Historia”</a></li>
<li><a href="#fato-curioso">Fato Curioso</a></li>
<li><a href="#solução-detalhada">Solução Detalhada</a></li>
<li><a href="#objetivos-de-aprendizado">Objetivos de Aprendizado</a></li>
<li><a href="#conceitos-primitivos">Conceitos Primitivos</a></li>
<li><a href="#tópico-1">Tópico 1</a></li>
<li><a href="#demais-tópicos">Demais Tópicos</a></li>
<li><a href="#a-chave-dos-tópicos">A Chave dos Tópicos</a></li>
<li><a href="#resumo">Resumo</a></li>
<li><a href="#exercícios">Exercícios</a></li>
<li><a href="#resolução">Resolução</a></li>
<li><a href="#fique-ligado">Fique Ligado!</a></li>
<li><a href="#saiba-mais">Saiba mais</a></li>
</ul>
</li>
<li><a href="#tipos-de-resposta-no-qb">Tipos de Resposta no QB</a>
<ul>
<li><a href="#texto">Texto</a></li>
<li><a href="#título">Título</a></li>
<li><a href="#fonte">Fonte</a></li>
<li><a href="#referência">Referência</a></li>
<li><a href="#template">Template</a></li>
<li><a href="#flashcard-interativo">Flashcard Interativo</a></li>
<li><a href="#bullet">Bullet</a></li>
<li><a href="#diagrama">Diagrama</a></li>
<li><a href="#explicação-detalhada">Explicação Detalhada</a></li>
<li><a href="#exemplo">Exemplo</a></li>
<li><a href="#exercício">Exercício</a></li>
<li><a href="#resolução-1">Resolução</a></li>
<li><a href="#livre">Livre</a></li>
</ul>
</li>
<li><a href="#regras-gerais-do-qb">Regras Gerais do QB</a>
<ul>
<li><a href="#conteúdo">Conteúdo</a></li>
<li><a href="#texto-1">Texto</a></li>
<li><a href="#ferramentas-de-texto">Ferramentas de Texto</a></li>
<li><a href="#imagens">Imagens</a></li>
<li><a href="#fonte-preferencial-de-imagens">Fonte Preferencial de Imagens</a></li>
<li><a href="#edição-e-criação-de-ícones-e-imagens">Edição e Criação de Ícones e Imagens</a></li>
<li><a href="#direito-autoral-de-imagens-editadas-e-de-criação-própria">Direito Autoral de Imagens Editadas e de Criação Própria</a></li>
<li><a href="#flashcards">Flashcards</a></li>
<li><a href="#ferramentas--de-som-e-imagem">Ferramentas  de Som e Imagem</a></li>
<li><a href="#diagramas">Diagramas</a></li>
<li><a href="#mathtypelatex-0">Mathtype/LaTeX 0</a></li>
<li><a href="#mathtypelatex-1">Mathtype/LaTeX 1</a></li>
<li><a href="#estruturas-e-equações-químicas">Estruturas e Equações Químicas</a></li>
<li><a href="#mais-ferramentas-matemáticas">Mais Ferramentas Matemáticas</a></li>
<li><a href="#figuras-planas">Figuras Planas</a></li>
<li><a href="#tabelas">Tabelas</a></li>
<li><a href="#gráficos">Gráficos</a></li>
</ul>
</li>
<li><a href="#materiais-de-consulta">Materiais de Consulta</a>
<ul>
<li><a href="#bibliografia-oficial-rdresoluções">Bibliografia Oficial RDResoluções</a></li>
<li><a href="#coleção-história-da-ciência">Coleção História da Ciência</a></li>
<li><a href="#manuais-das-plataformas-e-programas-trabalhados">Manuais das Plataformas e Programas Trabalhados</a></li>
<li><a href="#templates-flashcard">Templates Flashcard</a></li>
<li><a href="#banco-de-imagens-da-bibliografia-oficialem-construção">Banco de Imagens da Bibliografia OficialEm Construção</a></li>
<li><a href="#códigos-de-aula">Códigos de Aula</a></li>
<li><a href="#disciplinas-disponíveis">Disciplinas Disponíveis</a></li>
<li><a href="#o-código-dos-materiais">O Código dos materiais</a></li>
</ul>
</li>
<li><a href="#códigos-de-resposta">Códigos de Resposta</a>
<ul>
<li><a href="#texto-comum">Texto Comum</a></li>
<li><a href="#um-pouco-de-história-1">Um Pouco de História</a></li>
<li><a href="#referências-1">Referências</a></li>
<li><a href="#flashcard-interativo-1">Flashcard Interativo</a></li>
<li><a href="#flashcard-interativo-com-zoom">Flashcard Interativo com Zoom</a></li>
<li><a href="#bullet-1">Bullet</a></li>
<li><a href="#diagramas-1">Diagramas</a></li>
<li><a href="#explicação-detalhada-sem-exemplo">Explicação detalhada sem Exemplo</a></li>
<li><a href="#explicação-detalhada-com-exemplo">Explicação detalhada com Exemplo</a></li>
<li><a href="#exercício-sem-alternativa">Exercício sem alternativa</a></li>
<li><a href="#resolução-sem-alternativa">Resolução sem alternativa</a></li>
<li><a href="#exercício-com-alternativa">Exercício com alternativa</a></li>
<li><a href="#resolução-com-alternativa">Resolução com alternativa</a></li>
<li><a href="#livre-1">Livre</a></li>
</ul>
</li>
<li><a href="#o-processo-de-revisão">O Processo de Revisão</a>
<ul>
<li><a href="#o-fluxo-de-trabalho">O Fluxo de Trabalho</a></li>
<li><a href="#etapas">Etapas</a></li>
</ul>
</li>
<li><a href="#pagamentos">Pagamentos</a>
<ul>
<li><a href="#valores-brutos">Valores Brutos</a></li>
<li><a href="#forma-de-pagamento">Forma de Pagamento</a></li>
<li><a href="#impostos">Impostos</a></li>
<li><a href="#cota-mínima-uma-história">Cota Mínima: Uma História</a></li>
<li><a href="#mês-da-rd">Mês da RD</a></li>
<li><a href="#dia-do-pagamento">Dia do Pagamento</a></li>
<li><a href="#fatores-que-afetam-o-valor-pago">Fatores que afetam o Valor Pago</a></li>
<li><a href="#critérios-de-desligamento-da-rdresoluções">Critérios de Desligamento da RDResoluções</a></li>
<li><a href="#critérios-de-retorno-de-ex-membros-rd">Critérios de Retorno de Ex-Membros RD</a></li>
<li><a href="#mudança-de-dados-bancários">Mudança de Dados Bancários</a></li>
<li><a href="#como-calcular-o-valor-pago-por-questionário">Como calcular o valor Pago por Questionário:</a></li>
</ul>
</li>
<li><a href="#xmind-zen">Xmind Zen</a>
<ul>
<li><a href="#comandos-essenciais">Comandos Essenciais</a></li>
</ul>
</li>
<li><a href="#stackedit">StackEdit</a>
<ul>
<li><a href="#conhecendo-a-plataforma">Conhecendo a Plataforma</a></li>
<li><a href="#barra-lateral-direita">Barra Lateral Direita</a></li>
<li><a href="#conectando-sua-pasta-de-trabalho-ao-stack">Conectando sua pasta de Trabalho ao Stack</a></li>
<li><a href="#vídeos">Vídeos</a></li>
<li><a href="#comandos-essenciais-1">Comandos Essenciais</a></li>
<li><a href="#inserindo-as-respostas-corretamente">Inserindo as respostas corretamente</a></li>
<li><a href="#mathtype-na-plataforma">Mathtype na Plataforma</a></li>
</ul>
</li>
<li><a href="#iniciando-o-qb">Iniciando o QB</a>
<ul>
<li><a href="#preenchendo-o-cabeçalho">Preenchendo o Cabeçalho</a></li>
<li><a href="#conectando-com-a-sua-pasta-de-trabalho">Conectando com a sua pasta de Trabalho</a></li>
<li><a href="#respondendo-conceitos">Respondendo Conceitos</a></li>
<li><a href="#respondendo-introdução">Respondendo Introdução</a></li>
<li><a href="#respondendo-um-pouco-de-história">Respondendo Um Pouco de História</a></li>
<li><a href="#respondendo-o-fato-curioso">Respondendo o Fato Curioso</a></li>
<li><a href="#respondendo-os-conceitos-primitivos">Respondendo os Conceitos Primitivos</a></li>
<li><a href="#respondendo-o-desenvolvimento">Respondendo o Desenvolvimento</a></li>
<li><a href="#respondendo-o-resumo">Respondendo o Resumo</a></li>
<li><a href="#respondendo-exercícios">Respondendo “Exercícios”</a></li>
<li><a href="#respondendo-resolução">Respondendo “Resolução”</a></li>
<li><a href="#respondendo-fique-ligado">Respondendo Fique Ligado!</a></li>
<li><a href="#respondendo-saiba-mais">Respondendo Saiba Mais</a></li>
<li><a href="#pontos-essenciais-para-um-bom-e-rápido-qb">10 Pontos Essenciais para um bom e rápido QB</a></li>
</ul>
</li>
<li><a href="#processo-seletivo">Processo Seletivo</a>
<ul>
<li><a href="#cadastro">Cadastro</a></li>
<li><a href="#auto-treino">Auto-Treino</a></li>
<li><a href="#teste-online">Teste Online</a></li>
<li><a href="#instruções">Instruções</a></li>
</ul>
</li>
<li><a href="#contatos-úteis">Contatos Úteis</a></li>
</ul>

    </div>
  </div>

        <div class="stackedit__right">
      <header>
        <h1 class="header">{{ page.title }}</h1>
        <p class="header">{{ page.description }}</p>
      </header>
    <div class="stackedit__html">


      <section>
          <left>Clique no Botão ao lado para **ouvir** esta página</left>
<right><style type="text/css">.ra-play, .ra-pause {width: 32px; cursor: pointer;} .ra-pause {display: none;}</style>
<img src="https://ken107.github.io/read-aloud/images/play_square_light.png" class="ra-play" onclick="readAloud.play({lang:'pt', pitch:0, rate:1})" />
<img src="https://ken107.github.io/read-aloud/images/pause_square_light.png" class="ra-pause" onclick="readAloud.pause()" />
    <script src="https://ken107.github.io/read-aloud/js/readaloud.min.js" type="text/javascript"></script>
</right>
        {{ content }}
      </section>
        <footer>
        <hr>
     </footer>
    </div>
          </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
